<h1>Users#show</h1>
<!--< if logged_in? && current_user != user %>-->
<% if current_user != @user %>
  <div id="follow-button-#{user.id}" >
    <% if current_user.following?(@user) %>
      <%= render 'relationships/unfollow_button', user: @user %>
    <% else %>
      <%= render 'relationships/follow_button', user: @user %>
    <% end %>
  </div>
<% end %>
<p>名前 : <%= @user.name %></p>
<p>メールアドレス : <%= @user.email %></p>
<p>プロフィール : <%= @user.profile %></p>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>