<div class="container">
  <div class="row">

  <div class="col-5" >
  </div>

  <div class="col-7">
    <% @posts.each do |post| %>
    <div>
        <!--<= attachment_image_tag post, :image %>-->
      <% post.image.each do |img| %>
        <%= image_tag img.url %>
      <% end %>

        <!--<p>投稿ユーザー画像：<= image_tag('yamaarashi_dilemma.jpg') %></p>-->
      <p><%= post.body %></p>
      <%= link_to admin_post_path(post) do %>
        <p>ユーザーネーム：<%= post.user.name %></p>
      <% end %>
      <p><%= post.created_at.strftime('%Y/%m/%d') %></p>
      <p><%= render 'posts/tag_list', tag_list: post.tag_list %></p>
      <p><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></p>
    </div>
    <% end %>
    <!--<= paginate @posts %>-->
  </div>

</div>
</div>