<div class="container">
  <div class="row">

  <div class="col-sm-1"></div>
  <div class="col-sm-2"></div>

  <div class="col-sm-8 offset-sm-1">
    <div class="row">
      <div class="col-sm-8"><h2>Timeline</h2></div>
      <div class="col-sm-4"></div>
    </div>
    	<% @users.each do |user| %>

      <div class="posted">
        <div class="posted-user">
          <%= attachment_image_tag user , :profile_image, format: 'jpeg', size: "60x60", fallback: "no_image.jpg", class:"mt-sm-2 rounded-circle"; %>
          <%= link_to admin_user_path(user) do %>
            <%= user.name %>
          <% end %>
        </div>
        <div class="posted-body">
          <p class="mt-2 pl-sm-3">email：<%= user.email %></p>
          <p class="mt-2 pl-sm-3">プロフィール：<%= user.profile %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
</div>
