<div class="container">
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-2"></div>

  <div class="col-sm-8 offset-sm-1">
        <% if admin_signed_in? %>
          <%= link_to "退会させる", user_path(@user), method: :delete, "data-confirm" => "退会させますか？" %>
        <% end %>
        <h2><%= @user.name %>さんのページ</h2>
        <%= attachment_image_tag @user.profile_image , :profile_image, format: 'jpeg', size: "100x100", fallback: "no_image.jpg", class:"mt-sm-2 mb-sm-2" %>
        <p>名前 : <%= @user.name %></p>
        <p>メールアドレス : <%= @user.email %></p>
        <p>プロフィール : <%= @user.profile %></p>

        <!-- 見ているユーザーの投稿一覧 -->
        <h4 style="margin-top: 20px;"><%= @user.name %>さんの投稿</h4>
        <% @posts.each do |post| %>
          <div class="posted">
            <div class="posted-user">
              <%= attachment_image_tag post.user.profile_image , :profile_image, format: 'jpeg', size: "30x30", fallback: "no_image.jpg", class:"mt-sm-2 rounded-circle"; %>
              <%= link_to post_path(post) do %>
                <%= post.user.name %>
              <% end %>
            </div>
            <div class="posted-body">
              <p class="mt-2 pl-sm-3"><%= post.body %></p>
              <% post.image.each do |img| %>
                <%= image_tag img.url ,class: 'sized' %>
              <% end %>
            </div>
            <div class="row" id="posted-info">
              <div class="col-sm-2">
                <p class="pl-sm-3"><%= post.created_at.strftime('%Y/%m/%d') %></p>
              </div>
              <div class="col-sm-2", id="favorite_<%= post.id %>">
                <!-- お気に入り取得がうまくいかないので、管理者では表示させない -->
                <!--<= render partial: 'favorites/favorite', locals: { post: post } %>-->
              </div>
              <div class="col-sm-2">
                <%= "コメント(#{post.post_comments.count})" %></p>
              </div>
              <div class="col-sm-6">
                <p>タグ：<%= render 'posts/tag_list', tag_list: post.tag_list %></p>
              </div>
            </div>
          </div>
        <% end %>
  </div>

</div>
</div>